<div *ngIf="dataLoaded==false" class="spinner-border m-5" role="status">
</div>

<table *ngIF="dataLoaded==true" class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">categoryId</th>
          <th scope="col">categoryName</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let category of categories">
              <td>{{category.categoryId}}</td>
              <td>{{category.categoryName}}</td>
           </tr>
      </tbody>
</table>