<div *ngIf="dataLoaded==false" class="spinner-border m-5" role="status">
</div>

<ul *ngIf="dataLoaded==true" class="list-group">
  <li routerLink = "/products"
  [class]="getAllCategoryClass()">
  All Products</li>
  <li class="list-group-item disabled" aria-disabled="true">Categories</li>
  <li (click)="setCurrentCategory(category)" 
  routerLink = "/products/category/{{category.categoryID}}"
  *ngFor="let category of categories" 
  [class]="getCurrentCategoryClass(category)">
  {{category.categoryName}}</li>
</ul>
