<div *ngIf="dataLoaded==false" class="spinner-border m-5" role="status">
</div>

<div class="m-3">
  <label for="exampleFormControlInput1" class="form-label" style="color:rgb(74, 141, 7);">Search Product...</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" style="border-radius: 10px; border-color: rgb(74, 141, 7);" placeholder="product...">
</div>

<div *ngIf="filterText.length>2" class="alert-warning m-2">
  {{filterText}} searching...
</div>


<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">productName</th>
          <th scope="col">categoryId</th>
          <th scope="col">unitsInStock</th>
          <th scope="col">unitPrice</th>
          <th scope="col">VAT</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let product of products | filterPipe:filterText">
              <td>{{product.productID}}</td>
              <td>{{product.productName | uppercase}}</td>
              <td>{{product.categoryID}}</td>
              <td>{{product.unitsInStock}}</td>
              <td>{{product.unitPrice | currency}}</td>  
              <td>{{product.unitPrice | vatAdded:10 | currency }}</td>       
              <td><button (click)="addToCart(product)" class="btn btn-outline-success">Add to Cart</button></td>
            </tr>
      </tbody>
</table>